@font-face {
  font-family: "Playfair Display";
  src: local("Playfair Display Black"), local("Playfair-Display-Black"),
    url("./fonts/PlayfairDisplay-Black.woff2") format("woff2"),
    url("./fonts/PlayfairDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: local("OpenSans");
  src: url("./fonts/open-sans.woff2") format("woff2");
  src: url("./fonts/open-sans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Light");
  src: url("./fonts/OpenSansBold.woff2") format("woff2");
  src: url("./fonts/OpenSansBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-SemiBold");
  src: url("./fonts/OpenSans-SemiBold.woff2") format("woff2");
  src: url("./fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
