.header {
  position: relative;
  margin-bottom: 3.3rem;
  &__burger {
    position: absolute;
    top: 53%;
    left: 5%;
    opacity: 0;
    font-size: 0;
    height: 0;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
    @include _979 {
      opacity: 1;
      font-size: 1.4rem;
      height: 30px;
      width: 30px;
    }
    @include _768 {
      left: 9.2%;
    }
    @include _750 {
      left: 15px;
      top: 17rem;
    }
    @include _600 {
      left: 15px;
      top: 15.5rem;
    }
  }
  &__top {
    position: relative;
    background-color: $colorBackgroundCard;
    margin-bottom: 3.2rem;
    @include _1190 {
      background-color: $colorBg;
      &::before {
        content: "";
        position: absolute;
        top: 5.5rem;
        width: 100%;
        right: 0;
        height: 5rem;
        background-color: $colorBackgroundCard;
        @include _768 {
          top: 5.7rem;
        }
        @include _750 {
          top: 0;
        }
      }
    }
    @include _600 {
      margin-bottom: 1.8rem;
    }
    @include _350 {
      margin-bottom: 0;
    }
  }
  &__top-wrapper {
    padding: 1.5rem;
    max-width: 131rem;
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: $colorBackgroundCard;
    font-size: 1.4rem;
    @include _1190 {
      max-width: 102.4rem;
      padding: 0.1rem 3.8rem;
      flex-wrap: wrap;
      justify-content: space-between;
      background-color: $colorBg;
    }
    @include _768 {
      max-width: 76.8rem;
      padding: 0.1rem 7.2rem;
    }
    @include _750 {
      min-width: 32rem;
      padding: 5rem 1.5rem 0;
      align-items: flex-start;
      flex-direction: column;
    }
  }
  &__wrap-select {
    display: flex;
    align-items: center;
    margin-right: 4.2rem;
    @include _1190 {
      margin-left: 0;
      padding-top: 1.8rem;
      padding-bottom: 1.8rem;
    }
    @include _768 {
      padding-top: 1.9rem;
      padding-bottom: 1.9rem;
    }
    @include _480 {
      padding-top: 1.8rem;
      padding-bottom: 1.8rem;
    }
  }
  &__top-text {
    font-size: 1.6rem;
    line-height: 120%;
    color: $colorText;
    margin-right: 0.5rem;
  }
  &__top-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    font-size: 1.6rem;
    line-height: 120%;
    color: $colorDefault;
    border: none;
    outline: none;
    padding-right: 20px;
    background-color: transparent;
    background-image: url("./images/arrow-downprimary.svg");
    background-repeat: no-repeat;
    background-position: right;
  }
  &__top-nav {
    margin-left: auto;
    @include _1190 {
      margin: 0 -0.8rem;
      padding-top: 1.8rem;
      padding-bottom: 1.8rem;
      z-index: 1;
    }
    @include _979 {
      margin-left: 0;
      width: 100%;
      justify-content: space-between;
      .nav__list {
        justify-content: space-between;
      }
    }
    @include _750 {
      display: none;
    }
    @include _400 {
      display: block;
      padding: 0;
      z-index: 1111111;
      .nav__list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 1.2rem;
        margin: 0;
        margin-left: -1.5rem;
        padding: 0;
        position: absolute;
        bottom: -53rem;
        left: 1.5rem;
        width: 0;
        height: 0;
        background-color: $colorBackgroundCard;
        z-index: 1111111;
        opacity: 0;
        .nav__link {
          padding: 0;
        }
        .nav__item:nth-child(3) {
          width: 50%;
        }
        &-open {
          width: 100%;
          height: auto;
          padding: 2.4rem 1.2rem;
          opacity: 1;
          transition: opacity 0.3s ease-in-out;
        }
      }
    }
  }
  &__middle {
    max-width: 131rem;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 3.1rem;
    @include _1190 {
      max-width: 102.4rem;
      padding: 0 3.8rem;
    }
    @include _979 {
      justify-content: center;
    }
    @include _768 {
      max-width: 76.8rem;
      padding: 0 7.2rem;
      margin-bottom: 2.7rem;
    }
    @include _750 {
      min-width: 32rem;
      min-height: 5rem;
      padding: 0;
      margin-bottom: 1.6rem;
      border-top: 1px solid $colorBackgroundCard;
      border-bottom: 1px solid $colorBackgroundCard;
    }
  }
  &__logo-wrapper {
    @include _750 {
      position: absolute;
      top: 1rem;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__nav-list {
    .nav__item {
      .nav__link {
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 1.3;
        font-size: 1.7rem;
        color: #000;
        &:focus {
          background: $colorFocusBg;
          color: $colorActive;
        }
        &:hover {
          color: $colorDefault;
        }
        &:active {
          background: none;
          color: $colorActive;
        }
      }
    }
    .nav__item:not(:last-child) {
      margin-right: 7.5rem;
      @include _1190 {
        margin-right: 2.5rem;
      }
      @include _979 {
        margin-right: 0;
      }
    }
    @include _979 {
      .nav__list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 10.8rem;
        left: 0;
        width: 0;
        background-color: $colorBg;
        height: 0;
        opacity: 0;
        z-index: 1111111;
        transition: height 0.3s ease-in-out;
        @include _480 {
          flex-wrap: nowrap;
          top: 14.4rem;
          width: 0;
          height: 0;
        }
        &-open {
          width: 100%;
          height: 117%;
          padding: 9.2rem 25.2rem 6rem 7.2rem;
          gap: 4.1rem;
          opacity: 1;
          transition: opacity 0.3s ease-in-out;
          @include _480 {
            width: 100%;
            height: 130%;
            padding: 6.2rem 14.4rem 6rem 1.2rem;
          }
          @include _400 {
            height: 124%;
            padding: 6.2rem 14.4rem 2.6rem 1.2rem;
          }
          @include _350 {
            height: 128%;
          }
        }
        &::after {
          position: absolute;
          right: 7.2rem;
          bottom: 6rem;
          content: "";
          display: block;
          height: 12.1rem;
          width: 16.1rem;
          background-image: url("data:image/svg+xml,%3Csvg width='161' height='112' viewBox='0 0 161 112' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' fill-rule='evenodd' clip-rule='evenodd' d='M25.5794 100.365C45.8369 100.365 49.6542 82.2743 49.6542 67.7904C52.0602 67.7904 71.0747 67.7904 79.7477 67.7904C126.924 67.7904 126.936 0 81.2523 0C68.8268 0 60.8234 7.65074 58.6807 10.3159C33.1916 10.3159 30.0935 23.8426 30.0935 50.1074C30.0935 55.1744 30.0935 71.6455 30.0935 74.1827C30.0935 80.3583 27.6499 84.3648 21.0639 84.3648C15.441 84.3648 12.7777 79.3079 10.5312 72.2115C9.36058 72.8501 1.14055 77.3658 0 78.1063C2.48723 85.1955 5.1505 100.365 25.5794 100.365ZM54.2194 39.79C61.9369 39.79 62.5929 51.5796 53.6732 51.5796C46.1543 51.5796 46.35 39.79 54.2194 39.79ZM81.2538 75.1196C74.7311 75.1196 55.6729 73.6852 55.6729 73.6852V110.032L73.729 110.294L78.243 84.0011L135.421 82.91L136.927 111.737L157.992 112C157.992 112 161 55.5381 161 44.2111C161 23.201 151.745 11.3095 130.907 10.3159C125.685 10.0672 118.854 9.07789 114.355 8.84221C133.966 33.0776 118.362 75.1196 81.2538 75.1196ZM117.366 89.8566L118.869 111.213L130.907 111.476L129.402 89.8566H117.366ZM79.7477 110.558L91.785 110.82L94.7929 89.8566H84.2602L79.7477 110.558Z' fill='%23666666'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: center;
          pointer-events: none;
          @include _480 {
            display: none;
          }
        }
      }
    }
  }
  &__bottom {
    max-width: 131rem;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    margin: 0 auto;
    @include _1190 {
      position: relative;
      max-width: 102.4rem;
      padding-left: 3.8rem;
      padding-right: 3.8rem;
    }
    @include _768 {
      max-width: 76.8rem;
      padding: 0 7.2rem;
    }
    @include _750 {
      min-width: 32rem;
      padding: 0 1.5rem;
    }
    @include _600 {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
    }
  }
  &__bottom-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1.2rem 3.2rem;
    min-width: 59%;
    background-color: $colorBackgroundCard;
    border: 0.2rem solid $colorBackgroundCard;
    border-radius: 1rem 0 0 1rem;
    transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out;
    &:focus {
      background-color: $colorFormBgFocus;
      border: 0.2rem solid $colorDefault;
    }
    &:hover {
      background-color: $colorBgDis;
      border: 0.2rem solid $colorBackgroundCard;
    }
    &:active {
      background-color: $colorBackgroundCard;
      border: 0.2rem solid $colorDefault;
      .form-search__svg {
        fill: $colorDefault;
        background-color: transparent;
      }
    }
    @include _1190 {
      min-width: 68.5%;
    }
    @include _768 {
      min-width: 69.5%;
    }
    @include _600 {
      min-width: 100%;
    }
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $colorBackgroundCard inset;
  }
  &__order {
    margin-left: auto;
    @include _1190 {
      margin-left: 0;
      position: absolute;
      top: -13.8rem;
      right: 3.3rem;
    }
    @include _979 {
      top: -6.8rem;
    }
    @include _768 {
      right: 9%;
      top: -6.6rem;
    }
    @include _750 {
      right: 1.5rem;
      top: -5.6rem;
    }
    @include _480 {
      right: 1rem;
      top: -6.2rem;
    }
  }
  &__lk-icon {
    width: 2.6rem;
    height: 2.8rem;
    fill: $colorDefault;
    transition: fill 0.3s ease-in-out;
  }
  &__lk {
    display: inline-block;
    padding: 0.4rem;
    margin-right: 1.5rem;
    text-align: center;
    transition: background-color 0.3s ease-in-out, fill 0.3s ease-in-out;
    &:focus {
      background-color: $colorHover;
      .header__lk-icon {
        fill: $colorBg;
      }
    }
    &:hover {
      background-color: transparent;
      .header__lk-icon {
        fill: $colorHover;
      }
    }
    &:active {
      background-color: $colorBg;
      .header__lk-icon {
        fill: $colorActive;
      }
    }
    @include _1190 {
      margin-right: 1.7rem;
    }
  }
  &__cart-icon {
    width: 3rem;
    height: 2.8rem;
    fill: $colorDefault;
    transition: fill 0.3s ease-in-out;
  }
  &__cart {
    display: inline-block;
    padding: 0.5rem 0.5rem 0.5rem 1.4rem;
    position: relative;
    transition: background-color 0.3s ease-in-out, fill 0.3s ease-in-out;
    &::after {
      content: "0";
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 0.3rem;
      top: 1rem;
      width: 1.4rem;
      height: 1.5rem;
      font-weight: 700;
      font-size: 1rem;
      color: $colorBg;
      background-color: $colorIconDef;
      border-radius: 50%;
    }
    &:focus {
      background-color: $colorHover;
      .header__cart-icon {
        fill: $colorBg;
      }
    }
    &:hover {
      .header__cart-icon {
        fill: $colorHover;
      }
    }
    &:active {
      background-color: $colorBg;
      .header__cart-icon {
        fill: $colorActive;
      }
    }
  }
}
.form-search {
  &__icon {
    width: 2rem;
    height: 2rem;
    margin-right: 0.7rem;
    cursor: pointer;
    background-color: transparent;
  }
  &__svg {
    fill: $colorTextMenu;
  }
  &__input {
    width: 100%;
    padding: 0.5rem;
    border: none;
    background-color: transparent;
    outline: none;
  }
  &__btn {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;
    border-radius: 50%;
    width: 3.2rem;
    height: 3.2rem;
    font-weight: 900;
    border: 0.2rem solid $colorHover;
    color: $colorHover;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
      border 0.3s ease-in-out;
    &:focus {
      background-color: $colorHover;
      color: $colorBg;
    }
    &:hover {
      background-color: $colorDefault;
      border: none;
      color: $colorBg;
    }
    &:active {
      background-color: $colorActive;
      color: $colorBg;
    }

    &::after {
      content: "next";
      font-family: swiper-icons;
      font-weight: 900;
      font-size: 1rem;
      z-index: 2000;
    }
  }
}

.nav {
  &__list {
    display: flex;
    @include _1190 {
      margin-right: -0.8rem;
      margin-left: -0.8rem;
    }
  }
  &__item:not(:last-child) {
    margin-right: 5.8rem;
    @include _979 {
      margin-right: 1rem;
    }
  }
  &__link {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    padding: 0.2rem 0.8rem;
    color: $colorTextMenu;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    &:focus {
      background: $colorFocusBg;
      color: $colorActive;
    }
    &:hover {
      color: $colorDefault;
    }
    &:active {
      background: none;
      color: $colorActive;
    }
  }
}
