.useful {
  max-width: 131rem;
  padding: 0 1.5rem;
  margin: 0 auto;
  @include _1190 {
    max-width: 102.4rem;
    padding: 0 3.6rem;
  }
  @include _750 {
    &__wrapper {
      display: flex;
      flex-direction: column-reverse;
      gap: 3.2rem;
    }
  }
  @include _480 {
    min-width: 32rem;
    padding: 0 1.2rem;
  }
  @include _350 {
    &__wrapper {
      gap: 2rem;
    }
  }
  &__title {
    margin: 0;
    padding: 0;
    margin-bottom: -3.2rem;
    font-family: "OpenSans", sans-serif;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 100%;
    @include _750 {
      margin-bottom: 2.6rem;
    }
    @include _350 {
      font-size: 2.4rem;
    }
  }
  &__container {
    padding-top: 4rem;
    margin-bottom: 7.1rem;
    @include _1190 {
      margin-bottom: 7rem;
    }
    @include _979 {
      margin-bottom: 7.2rem;
    }
    @include _768 {
      padding: 0 3.6rem;
    }
    @include _750 {
      padding: 0;
    }
    @include _350 {
      margin-bottom: 4.1rem;
    }
  }
  &__button-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2.8rem;
    gap: 1.3rem;
    @include _768 {
      margin-bottom: 2.7rem;
    }
    @include _750 {
      justify-content: center;
    }
  }
  &__button-prev,
  &__button-next {
    border-radius: 50%;
    width: 3.2rem;
    height: 3.2rem;
    border: 2px solid $colorDefault;
    color: $colorDefault;
    transition: background-color 0.3s, border 0.3s;
    background-image: url("./images/arrow-rightprimary.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
    &:focus {
      background: $colorHover;
      background-image: url("./images/arrow-rightwihte.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 30%;
    }
    &:hover {
      background: $colorDefault;
      border: none;
      background-image: url("./images/arrow-rightwihte.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 30%;
    }
    &:active {
      background: $colorActive;
      background-image: url("./images/arrow-rightwihte.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 30%;
    }
  }
  &__button-prev {
    transform: rotate(180deg);
  }
  .swiper-button-disabled {
    border: 2px solid $colorTextMenu;
    color: $colorTextMenu;
    background-image: url("./images/arrow-rightgrey.svg");
    &:focus,
    &:hover,
    &:active {
      border: 2px solid $colorTextMenu;
      color: $colorTextMenu;
      background-image: url("./images/arrow-rightgrey.svg");
      background-color: $colorBg;
    }
  }
}

.card-items {
  max-height: 67.6rem;
  display: flex;
  flex-direction: column;
  background-color: $colorBackgroundCard;
  border-radius: 1rem;
  overflow: hidden;
  @include _1190 {
    max-height: 45.6rem;
  }
  &__descr {
    padding: 3rem;
    padding-top: 3.4rem;
    height: 100%;
    min-height: 19rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
    @include _979 {
      padding-top: 3rem;
    }
  }
  &__text {
    font-family: "OpenSans", sans-serif;
    margin: 0;
    font-size: 2.4rem;
    line-height: 139%;
    @include _1190 {
      font-size: 1.6rem;
      line-height: 134%;
      max-width: 97%;
    }
  }
  &__btn {
    margin-top: auto;
    max-width: 6.8rem;
    padding: 2rem 3rem;
    @include _1190 {
      padding: 1.7rem 3.5rem;
      max-width: 5.8rem;
    }
    @include _768 {
      padding: 1.5rem 3.5rem;
    }
  }
  &__img1 {
    min-height: 42.6rem;
    background-image: url("./images/desktop/useful-1.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    @include _1190 {
      min-height: 20.2rem;
      background-image: url("./images/1024/useful-1.jpg");
    }
  }
  &__img2 {
    min-height: 42.6rem;
    background-image: url("./images/desktop/useful-2.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    @include _1190 {
      min-height: 20.2rem;
      background-image: url("./images/1024/useful-2.jpg");
    }
  }
  &__img3 {
    min-height: 42.6rem;
    background-image: url("./images/desktop/useful-2-1.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    @include _1190 {
      min-height: 20.2rem;
      background-image: url("./images/1024/useful-2-1.jpg");
    }
  }
  &__img4 {
    min-height: 42.6rem;
    background-image: url("./images/desktop/useful-2-2.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    @include _1190 {
      min-height: 20.2rem;
      background-image: url("./images/1024/useful-2-2.jpg");
    }
  }
  &__img5 {
    min-height: 42.6rem;
    background-image: url("./images/desktop/useful-2-3.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    @include _1190 {
      min-height: 20.2rem;
      background-image: url("./images/1024/useful-2-3.jpg");
    }
  }
}
